---
const { title, address, text } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class="p-4  md:p-8 lg:p-10 bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="https://github.com/Inushin/simpleAstroLandingPageTheme"
      class="flex justify-center items-center text-2xl font-semibold text-white hover:underline"
    >
      {title}
    </a>
    <a
      href="https://www.google.com/maps/"
      class="my-6 text-gray-400 hover:underline"
    >
      {address}
    </a>
    <p class="my-6 text-gray-400">
      {text}
    </p>
    <span class="text-sm sm:text-center text-gray-400"
      >© {currentYear}
      <a href="https://kuroshitec.com" class="hover:underline">KuroShi Tec</a>.
      All Rights Reserved.</span
    >
  </div>
</footer>
